/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333
    
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos específicos para a página de login */
.login-container {
    text-align: center;

}

.login-form {
    
    padding: 20px;
    border-radius: 5px;
}

login-title {
    margin-bottom: 20px;
    color: #333;
}

.login-button {
    background-color: #FF8800;
    color: wheat;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #E67600;
}

.login-cadastro-text {
    margin-top: 20px;
    color: #888;
}

/* Estilos específicos para a página de cadastro */
.cadastro-container {
    text-align: center;
}

.cadastro-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

cadastro-title {
    margin-bottom: 20px;
    color: #333;
}

.cadastro-button {
    background-color: #FF8800;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-button:hover {
    background-color: #E67600;
}

.cadastro-login-text {
    margin-top: 20px;
    color: #888;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-images img {
    width: 100%;
    display: none;
  }
  
  .carousel-images img.active {
    display: block;
  }
  
  button.prev,
  button.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    z-index: 100;
  }
  
  button.prev { left: 0; }
  button.next { right: 0; }